@{
    ViewData["Title"] = "IOPT сервер";
    Layout = "_Empty";
}

<div align="center" style="margin-top: 10%"><h5 class="light-green-text">Добро пожаловать на IOPT сервер!</h5><p class="red-text">@ViewData["eггoг"]</p></div>
<div class="row" style="width: 300px; text-align: center; overflow: auto;white-space: nowrap;position: fixed;top: 0;right: 0;bottom: 0;left: 0;display: flex;align-items: center;">

    @using (Html.BeginForm("Login", "Home", FormMethod.Post, new
    {
        @class = "col m12",
        @style = "display: inline-block; white-space: normal; vertical-align: middle; text-align: left;"
    }))
    {
        <div class="row">
            <div class="input-field col m12">
                <input id="Login" name="login" type="text" class="validate">
                <label for="Login" class="light-green-text">Логин</label>
            </div>
        </div>
            <div class="row">
                <div class="input-field col m12">
                    <input id="Password" name="password" type="password" class="validate">
                    <label for="password" class="light-green-text">Пароль</label>
                </div>
            </div>
            <button class="btn waves-effect waves-light light-green" type="submit" name="action" align="center">
                Войти
                <i class="material-icons right">send</i>
            </button>
    }
</div>


